<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Recipe Book</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Recipe Book</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Recipes</a></li>
                    <li><a href="/add-recipe">Add recipe</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>