.space-top {
  margin-top: 2rem;
}

.description-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row-reverse;
}

.recipe-card{
  background-size:cover;
  background-position:center;   
  height: 20rem;
}

.card a {
  color: inherit;
}

.instructions {
  margin-top: -1.5rem;
  white-space: pre-line;
}

@media only screen and (max-width: 768px) {
  .description-container {
      display: block;
  }

  .description-container form {
      margin-bottom: 2rem;
  }
}